.App {
  text-align: center;
}

body {
  background-color: #708090;
}

.NavBar {
  display: block;
  padding: 15px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #191970;
  color: #FFFFFF !important;
  text-decoration: none;
  border-bottom: 1px solid #FFFFFF;
  /* box-shadow: 0 5px 5px -5px; */
}

.active {
  color: #00FFFF;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
  color: #00FFFF;
  text-shadow: 2px 2px #708090;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #00FFFF;
  text-shadow: 1.5px 1.5px #708090;
}

h3 {
  color: white;
  text-shadow: 1px 1px #000000;
}

.mission {
  color: #00FFFF;
  text-shadow: 2px 2px #000000;
}

.baselink {
  color: white;
  text-shadow: 1px 1px #000000;
}

a:hover { 
  color: #00FFFF;
}

input[type=text] {
  border: 1px solid #000000;
  border-radius: 4px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #191970;
  color: #00FFFF;
  text-shadow: 1px 1px #708090;
  font-size: 10px;
  text-align: center;
  padding: 5px;
  border-top: 1px solid #FFFFFF;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #191970;
  text-align: center;
  padding: 5px;
  border-bottom: 1px solid #FFFFFF;
}

.paracenter {
  margin: 0;
  position: absolute !important;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.parafix {
  margin: 0;
  position: absolute;
  top: 40%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

img {
  width: 100%;
  height: auto;
  position:fixed;
  bottom: 15px;
  left: 0;
  border-top: 1px solid #FFFFFF;
}





.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}